@font-face {
    font-family: 'Triod Postnaja';
    src: url(/fonts/TriodPostnaja.ttf);
}


body{
    font-family: 'Triod Postnaja';
    font-size: 2.7vh;
    background-color: #F2E9D1;

    color:black;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    text-decoration: none;

}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
  }


/* SCROLL BAR SETTINGS FOR CHROME/EDGE/SAFARI */
body::-webkit-scrollbar {
    width: 1.2vh;               /* ширина всей полосы прокрутки */
  }
  
  body::-webkit-scrollbar-track {
    background: #ccc5b0;        /* цвет зоны отслеживания */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #817f76;    /* цвет бегунка */
    border-radius: 20px;       /* округлось бегунка */
    border: 0.1vh solid #ccc5b0;  /* отступ вокруг бегунка */
  }


  /* SELECTION SETTINGS */
  ::selection {
    background: #f5f1e7; /* Safari */
    }
    ::-moz-selection {
    background: #f5f1e7; /* Firefox */
    }


/* HEADER SETTINGS */
.header{
    background-color: #817f76;
    border-radius: 4px;
}

.header-top{
    display: flex;
    align-items: center;

    justify-content: center;
}

/* Header Logo */
.header-top-logo{
    margin-right: 100vh;
    display: flex;
}

.header-top-img{
    width: 10vh;
    height: 10vh;
    
}

.header-top-title{
    font-size: 3vh;
    font-weight: 800;
    margin-top: 3.5vh;
    padding-left: 3vh;
}

/*---------------------*/

.nav-link{
    position: relative;
    color: black;
    margin-right: 3vh;

    font-weight: 700;
    display: inline-flex;
}

.nav-link::after {
    position: absolute;
    content: '';
    display: inline-flex;
    height: 0.05vw;
    background-color: #352526;
    top: 3.2vh;
  }
  
  
  .nav-link:hover:after{
      position: absolute;
      width: 100%;
      height: 0.3vh;
  }

/*---------------------*/



/* MAIN BLOCK SETTINGS */
.main{
    background-image: url(/img/bg_sovetskii.png);

    height: 100vh;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.main-title{
    font-size: 5vh;
    font-weight: 800;

    padding-top: 7vh;
    text-align: center;
}

.main-subtitle{
    font-size: 2.6vh;
    font-weight: 600;

    padding-top: 2vh;
    text-align: center;

    line-height: 5vh;
}
/*---------------------*/



/* MINI MAP SETTINGS */

.mini-map{
    position: relative;

    display: flex;
    justify-content: center;
}

.mini-map-content{
    
    margin-right: 47vh;
    
}

.mini-map-title{
    font-size: 4;
    font-weight: 800;

    text-align: center;

    padding-top: 5.4vh;
}


.mini-map-our-m{
    position: absolute;
    width: 42vh;
    height: 90vh;

    padding-top: 3vh;

}

.mini-map-frame{

    width:50vh;
    height: 89.5vh;

    padding-top: 3vh;
    margin-right: 25vh;

}
.mini-map-map{
    width:50vh;
    height: 89.5vh;
}
/*---------------------*/


/* ------- MAP ------- */

/* MAP */
.map{
    position: relative;

    display: flex;
    justify-content: center;
}

.map-title{
    padding-top: 2vh;

    text-align: center;
}

.map-content{
    padding-top: 1vh;  
}

.main-map-frame{
    width: 120vh;
    height: 70vh;
}

.main-map-info{
    padding-top: 1rem; 
    text-align: center;
    font-weight: 600;
}

.main-map-subtitle{
    padding-top: 1vh; 
    margin-left: 2vh;
}


/* ------- INFO------- */


.info-main{
    position: relative;
}

.info-main-title {
    padding-top: 3vh;
    text-align: center;
    font-size: 5vh;
}

.info-place{
    position: relative;
    padding-top: 4vh;
}


.info-place-title {
    text-align: center;
    font-size: 4vh; 
}

.info-place-info {
    padding-top: 1rem; 
    margin-left: 12vh;
    font-weight: 500;
}

.info-place-bw{
    text-align: center;
    padding-top: 3vh;
}

/* Basic IMG */
.basic-info-img{
    display: block;

    border-radius: 5px;

    width: 80vh;
    height: 55vh;

    margin-left: auto;
    margin-right: auto;

    padding-top: 2vh;
    
    margin-bottom: 5vh;
}


/* SLIDER */
.slider {
    display: flex;

    justify-content: center; 
    align-items: center; 
    
    margin: 0 auto;
    margin-top: 2vh;
    
    width: 95vh;
    height: 55vh;

    position: relative;
    overflow: hidden;

    margin-bottom: 3vh;
  }

.slider-img {
    width: 80vh;
    height: 55vh;

    margin: 0;

    position: static;

    opacity: 0;
    transition: opacity 0.5s ease;
}

.slider-img.active{
    opacity: 1;
}

.slider img{
    position: absolute;

    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.slider .prev{
    left: -1vh;
}

.slider .next{
    right: -1vh;
}


/* CONTACT SETTINGS */
.card {
    width: 50vh;
    height: 90vh;

    cursor: pointer;


    margin-right: 17vh;
    float: right;

  }
  
  /* Определяем стили для внутреннего контейнера карточки (card-inner) */
  .card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s; /* Эффект переворота */
  }
  
  /* Определяем стили для лицевой и обратной сторон карточки (card-front и card-back) */
  .card-front,
  .card-back {
    width: 100%;
    height: 100%;

    position: absolute;

    backface-visibility: hidden;
  }
  
  
  .card-back {
    transform: rotateY(180deg); 
  }
  
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }


/* Contact with us*/
.contact{
    position: relative;
}

.contact-title{
    padding-top: 3vh;
    text-align: center;
    font-size: 5vh;
}

.contact-form{
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;


    padding-top: 3.3vh;
    margin-left: 14vh;

    width: 20vh;
    height: 5vh;

}

.contact-form-form{
    width: 100%;
    height: 100%;

}

.feedback-input{
    color: #352526;

    font-family: 'Triod Postnaja';
    font-size: 2vh;

    line-height: 0.2vh;

    height: 6vh;
    width: 30vh;

    background-color: #F2E9D1;

    padding: 3vh;
    margin-bottom: 3vh;

    border: 0.5vh solid #352526;
    border-bottom: 0.5vh solid #352526;
}

.btn-submit{
    width: 20vh;
    height: 30vh;

    border: 0px solid transparent;

    cursor: pointer;

    background-color: #352526;
    color: #F2E9D1;

    font-size: 2vh;
    transition: all 0.3s;
}

.btn-submit:hover{
    background-color: #F2E9D1;
    color: #352526 ;
    border: 0.6vh solid #352526;
}